.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-color: antiquewhite;
	background-image: url("/assets/images/ozdobnik.png"),
	url("/assets/images/ozdobnik.png"),
	url("/assets/images/ozdobnik.png"),
	url("/assets/images/ozdobnik.png");
	background-position:
			top left,
			top right,
			bottom left,
			bottom right;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.image {
	mix-blend-mode: multiply;
	height: 50px;
}

.invite {
	font-family: 'Helvetica Neue', arial, sans-serif;
	width: 400px;
	text-align: center;
}

.inviteTitle {
	font-family: 'Nothing You Could Do', cursive;
}

