.block {
    display: flex;
    font-family: 'Black Ops One', cursive;
    font-size: x-small;
    justify-content: center;
}

.icon {
   height: 8px;
    margin: 0 5px;
}
 .icon:hover {
     cursor: pointer;
 }
